body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
heading{
    margin-right: 20px;
}
main{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    width: 90%;
    max-width: 550px;
    background-color: white;
}
.taskForm{
    display: flex;
    padding-bottom: 20px;
}
#task-form{
    display: flex;
    gap:0;
}
#typeText{
    padding: 5px 300px 5px 5px;
    font-weight: 500;
    border: solid;
    border-width: 2px;
    border-color: rgb(208, 205, 205);
    border-radius: 5px;
}
#add-button{
    padding: 15px;
    padding-right: 18px;
    padding-left: 18px;
    border: none;
    font-weight: bold;
    background-color: rgb(23, 157, 23);
    color: white; 
    border-radius: 5px;
    cursor: pointer;
}
.filters{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.filter-button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 216, 216);
    font-weight: 500;
    cursor: pointer;
}
.filter-button:hover{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(6, 110, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
}